<div class="background-image promote-details field">
  <div class="background-image top-hat-field half">
    <label for="background-image">{{ _('Background Image') }}</label>
    <div class="inner">
      <p>{{ _('Drag a PNG or JPG into the space above or click to upload an image.') }}</p>
    </div>
  </div>

  <div class="background-description top-hat-field half">
    <label for="background-description">{{ _('Description (Optional)') }}</label>
    <textarea name="background-description" placeholder="{{ _('This app is awesome!') }}"></textarea>
  </div>
</div>
