{% macro img_file_input(name, n) %}
  <div class="background-image-input">
    <div class="fileinput" data-fileinput>
      <div data-fileinput-fake>
        <span>{{ name }}</span>
        <input type="text" disabled></input>
      </div>
      <input type="file" name="background-image-{{ n }}" class="realfileinput">
    </div>
  </div>
{% endmacro %}

{% macro background_image(image_name, class, image_name_2) %}
  <div class="background-image top-hat-field half{% if class %} {{ class }}{% endif %}">
    <label for="background-image">{{ _('Background Image') }}</label>
    <div class="inner">
        {{ img_file_input(image_name, 1) }}
        {% if image_name_2 %}
          {{ img_file_input(image_name_2, 2) }}
        {% endif %}
        <p>{{ _('Drag a PNG or JPG into the space above or click to upload an image.') }}</p>
    </div>
  </div>
{% endmacro %}

{% macro background_image_description(name) %}
  <div class="background-image featured-details field">
    {{ background_image(name) }}

    <div class="background-description top-hat-field half">
      <label for="background-description">{{ _('Description (Optional)') }}</label>
      <textarea name="background-description" placeholder="{{ _('This app is awesome!') }}"></textarea>
    </div>
  </div>
{% endmacro %}
