{% set brand_type_selected = obj.type if obj else feed.BRAND_TYPES[0] %}

<div class="field has-pretty-select">
  <label for="brand-type">{{ _('Title') }}</label>
  <div class="pretty-select">
    <select id="brand-type" name="type">
    {% for brand_type in feed.BRAND_TYPES %}
      <option value="{{ brand_type }}" {{ 'selected' if brand_type_selected == brand_type }}>
        {# We send `2` to force the brand name's plural form. #}
        {{ feed.get_brand_type(brand_type, 2) }}
      </option>
    {% endfor %}
    </select>
  </div>
</div>
