{% macro color_field(class, name, choices) %}
  <div class="{{ class }} field">
    <label class="inline-label">{{ name }}</label>

    <div class="colors choices-box">
      <div class="selected-color color-box" style="background: {{ choices[0] }}"></div>
      <p class="selected-text">{{ choices[0] }}</p>

      <fieldset class="choices">
        {% for color in choices %}
          <input id="{{ class + loop.index0 }}" type="radio" name="{{ class }}" value="{{ color }}" />
          <label for="{{ class + loop.index0 }}" class="color">
            <div class="color-box" style="background: {{ color }}"></div>
          </label>
        {% endfor %}
      </fieldset>
    </div>
  </div>
{% endmacro %}

<div class="color-fields">
  {{ color_field('bg-color', _('Background'), settings.bg_color_choices) }}
  {{ color_field('text-color', _('Text'), settings.text_color_choices) }}
</div>
