{% macro color_field(class, name, choices) %}
  {% set color_selected = obj.background_color if obj else choices[0]%}

  <div class="{{ class }} field">
    <label class="inline-label">{{ name }}</label>

    <div class="colors choices-box">
      <fieldset class="choices">
        {% for color in choices %}
          <input id="{{ class + loop.index0 }}" type="radio" name="{{ class }}"
                 value="{{ color }}"{{ 'checked' if color_selected == color }}>
          <label for="{{ class + loop.index0 }}" class="color{{ ' selected' if color_selected == color }}">
            <div class="color-box" style="background: {{ color }}"></div>
          </label>
        {% endfor %}
      </fieldset>
    </div>
  </div>
{% endmacro %}

{{ color_field('bg-color', _('Background'), settings.bg_color_choices) }}
