<div class="editorial-type field">
  <label for="editorial-type" class="inline-label">{{ _('Layout ') }}</label>
  <select id="editorial-type" name="type">
      <option class="table" value="table" selected>{{ _('Table Layout') }}</option>
      <option class="list" value="list">{{ _('List Layout') }}</option>
  </select>
  <p class="editorial-helptext table">{{ _('Apps will be stacked three in a line, then vertically. Landing page will appear when there are over 6 apps.') }}</p>
  <p class="editorial-helptext list hidden">{{ _('Apps will be stacked vertically, one line per app. Landing page will appear when there are over 2 apps.') }}</p>
</div>
