{# pq stands for pullquote. #}

<div class="pq-rating field">
  {% set rating_selected = obj.pullquote_rating if obj else 0 %}

  <label class="inline-label">{{ _('Rating') }}</label>
  <div class="choices-box">
    <fieldset class="choices" data-rating="{{ rating_selected }}">
      {% set rating_stars = [1, 2, 3, 4, 5] %}
      {% for rating in rating_stars %}
        <input id="pq-rating-{{ rating }}" type="radio" name="pq-rating"
               value="{{ rating }}"{{ 'checked' if rating_selected == rating }}>
        <label for="pq-rating-{{ rating }}" class="rating">
          <span class="star star-{{ rating }}">&#9733;</span>
        </label>
      {% endfor %}
    </fieldset>
  </div>
</div>

<div class="pq-text field has-textarea top-hat-field half">
  {% set pq_text = obj.pullquote_text if obj else {} %}

  <label class="required">{{ _('Quote') }}</label>
  {% for lang in settings.languages %}
    {{ locale_textarea('pq-text', lang, pq_text[lang]|safe, 300) }}
  {% endfor %}
  <p class="help-text char-count" data-for="pq-text">{{ _('Maximum 300 characters.') }}</p>
</div>

<div class="pq-attribution field">
  <label class="inline-label">{{ _('Attribution') }}</label>
  <input id="pq-attribution" name="pq-attribution" type="text" placeholder="some-user-1"
         maxlength=50 {% if obj %}value="{{ obj.pullquote_attribution }}"{% endif %}>
</div>
