<div class="app-selector top-hat-field field">
  <label for="app-selector">{{ _('App') }}</label>
  <input id="app-selector" type="search" placeholder="{{ _('Search for an app...') }}"
         {{ 'disabled' if feed_type == 'apps' and obj }} autocomplete="off">
    <img class="chosen-icon">
  </input>
  <ul class="results">
    <div class="paginator c" data-offset="0">
      {# L10n: `prev` stands for previous. #}
      <a class="prev">{{ _('&laquo; Prev Page') }}</a>
      <a class="next">{{ _('Next Page &raquo;') }}</a>
    </div>
  </ul>
  <input name="app" type="hidden">
  <div class="loading">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
