<div class="feed-builder c">

  <section class="island">
    <div class="module-selector">
     {% include "listing/listing.html" %}
    </div>
  </section>
  
  <section class="island feed-column c">
    <form>
      <div class="field has-pretty-select feed-selector">
        <div class="pretty-select">
          <select class="feed-region-switcher" name="feed-region">
          {% for region_slug, region_name in settings.REGION_CHOICES_SLUG|items %}
            <option value="{{ region_slug }}" {{ 'selected' if region_slug == 'restofworld' }}>
              {{ region_name }}
            </option>
          {% endfor %}
          </select>
        </div>
      </div>
    </form>

    <div class="feeds">
      <div class="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      {% for region_slug, region_name in settings.REGION_CHOICES_SLUG|items %}
        <div class="region-feed localized {{ 'hidden' if region_slug != 'restofworld' }}"
             data-region="{{ region_slug }}">
          <h2 class="empty-results">
            {{ _('No items in {region} feed')|format({region: region_name}) }}
          </h2>
          <ul class="feed-elements"></ul>
        </div>
      {% endfor %}
    </div>

    {# Disabled until feed_builder.js loads a feed. #}
    <button class="button submit" disabled>{{ _('Publish') }}</button>
    <div class="form-errors"></div>

  </section>

</div>
