<section class="island feed-builder c">
  <h2>{{ _('Feed Builder') }}</h2>
  <div class="module-selector">
   {% include "listing/listing.html" %}
  </div>
  <div class="feed-column c">
    <div class="feed-selector">
      <h2>{{ _('Select a Feed to Modify') }}</h2>
      <select class="feed-region-switcher" name="feed-region">
        {% for region_slug, region_name in settings.REGION_CHOICES_SLUG|items %}
          <option value="{{ region_slug }}" {{ 'selected' if region_slug == 'restofworld' }}>
            {{ region_name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="feeds">
      {% for region_slug, region_name in settings.REGION_CHOICES_SLUG|items %}
        <div class="feed localized {{ 'hidden' if region_slug != 'restofworld' }}"
             data-region="{{ region_slug }}">
          <h2 class="empty-results">
            {{ _('No feed items in {region} feed')|format({region: region_name}) }}
          </h2>
          <ul class="feed-elements"></ul>
        </div>
      {% endfor %}
    </div>
    <button class="button submit">{{ _('Publish') }}</button>
    <div class="form-errors"></div>
  </div>
</section>
