{% macro create_tab(href, src, name) %}
  <li>
    <a href="{{ href }}">
      <img src="{{ src }}" alt="{{ name }}">
      <h3><a>{{ name }}</a></h3>
    </a>
  </li>
{% endmacro %}

<section id="create-content" class="island">
  <ul class="create c">
    {{ create_tab(url('create', ['apps']), media('transonic/img/featured.jpg'),
                  _('featured apps')) }}
    {{ create_tab(url('create', ['collections']), media('transonic/img/collections.jpg'),
                  _('collections')) }}
    {{ create_tab(url('create', ['brands']), media('transonic/img/editorial.jpg'),
                  _('editorial brands')) }}
  </ul>
</section>
