{% macro create_tab(href, class, name) %}
  <li class="create-{{ class }}">
    <a href="{{ href }}">{{ name }}</a>
  </li>
{% endmacro %}

<section id="create-landing" class="island">
  <ul class="create c">
    {{ create_tab(url('create', ['apps']), 'app', _('Featured App')) }}
    {{ create_tab(url('create', ['collections']), 'collection', _('Collection')) }}
    {{ create_tab(url('create', ['brands']), 'brand', _('Editorial Brand')) }}
    {{ create_tab(url('create', ['shelves']), 'shelf', _('Operator shelf')) }}
  </ul>
</section>
