{% macro more_button(next_page_url) %}
  <li class="loadmore">
    <button class="button alt" data-url="{{ (apiHost(next_page_url) + next_page_url)|safe }}">{{ _('More') }}</button>
    <div class="spinner alt btn-replace"></div>
  </li>
{% endmacro %}

<section class="manage-modules-listing island">
  {% defer (url=api('feed-apps')|urlparams(ordering='-created'), paginate='ul.feed-apps') %}
    <h2>{{ _('Featured Apps ({number})')|format({number: this.meta.total_count}) }}</h2>
    <ul class="feed-apps">
      {% for feed_app in this.objects %}
        <li class="feed-app feed-element" data-type="feed-app" data-id="{{ feed_app.id }}"
            data-slug="{{ feed_app.slug }}">
          <a{% if not is_builder %}href="{{ url('edit', ['apps', feed_app.slug]) }}"{% endif %}>
            <img class="icon" src="{{ feed_app.app.icons['48'] }}">
            <h3>{{ '{name} ({slug})'|format({name: feed_app.app.name, slug: feed_app.slug}) }}</h3>
            <span class="type">{{ feed.FEEDAPP_TYPES[feed_app.feedapp_type] }}</span>
            <span class="delete" data-type="feed-app"></span>
          </a>
        </li>
      {% endfor %}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  {% placeholder %}
    <h2>{{ _('Featured Apps') }}</h2>
  {% except %}
  {% end %}

  {% defer (url=api('collections')|urlparams(ordering='-created')) %}
    <h2>{{ _('Collections ({number})')|format({number: this.meta.total_count}) }}</h2>
    <ul class="collections">
      {% for collection in this.objects %}
        <li class="collection feed-element" data-type="collection" data-id="{{ collection.id }}"
            data-slug="{{ collection.slug }}">
          <a{% if not is_builder %}href="{{ url('edit', ['collections', collection.slug]) }}"{% endif %}>
            {% if collection.apps.length %}
              <img class="icon" src="{{ collection.apps[0].icons['48'] }}">
            {% endif %}
            <h3>{{ _('{name} ({num_apps} apps)')|format({name: collection.name, num_apps: collection.apps.length}) }}</h3>
            <span class="type">{{ feed.COLL_TYPES[collection.collection_type] }}</span>
            <span class="delete" data-type="collection"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% placeholder %}
    <h2>{{ _('Collections') }}</h2>
  {% except %}
  {% end %}

  {% set b_types = feed.BRAND_TYPES %}
  {% defer (url=api('feed-brands')|urlparams(order='-created')) %}
    <h2>{{ _('Editorial Brands ({number})')|format({number: this.meta.total_count or 0}) }}</h2>
    <ul class="brands">
      {% for brand in this.objects %}
        <li class="brand feed-element" data-type="brand" data-id="{{ brand.id }}"
            data-slug="{{ brand.slug }}">
          <a{% if not is_builder %}href="{{ url('edit', ['brands', brand.slug]) }}"{% endif %}>
            {% if brand.apps.length %}
              <img class="icon" src="{{ brand.apps[0].icons['48'] }}">
            {% endif %}
            <h3>
              {{ _('{name} ({num_apps} apps)')|format({name: b_types[brand.type][0] if num_apps == 1 else b_types[brand.type][1],
                                                       num_apps: brand.apps.length}) }}
            </h3>
            <span class="type">{{ feed.BRAND_LAYOUTS[brand.layout] }}</span>
            <span class="delete" data-type="brand"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% placeholder %}
    <h2>{{ _('Editorial Brand') }}</h2>
  {% except %}
  {% end %}
</section>
