<div id="create-content" class="tab active">
  <ul class="create c">
    <li>
      <img src="../media/img/featured.jpg" alt="featured apps">
      <h3><a>{{ _('custom featured apps') }}</a></h3>
    </li>
    <li>
      <img src="../media/img/collections.jpg" alt="collections and articles">
      <h3><a>{{ _('collections and articles') }}</a></h3>
    </li>
    <li>
      <img src="../media/img/editorial.jpg" alt="editorial brands">
      <h3><a>{{ _('editorial brands') }}</a></h3>
    </li>
  </ul>
</div>
