{% include '_macros/stars.html' %}

<a href="#" class="app-link">
  <div class="product mkt-tile feed-app">
    <img class="icon" src="{{ app.icons[64] }}" height="64" width="64">
    <div class="info">
      <h3>{{ app.name }}</h3>
      <div class="author lineclamp vital subdetail">
        {{ app.author }}
      </div>
      <div class="price vital">{{ app.price }}</div>
      <div class="rating">{{ stars(app.rating) }}</div>
      <button class="button product install paid">{{ app.price }}</button>
    </div>
    <div class="tile-footer">
      <p class="desc">{{ description }}</p>
      <div class="feed-app-preview-container">
        <img class="feed-app-preview" src="{{ preview }}">
      </div>
      <p class="stars large white stars-{{ pullquote_rating }}">{{ pullquote_rating }}</p>
      <blockquote>
        <p>{{ pullquote_text }}</p>
      </blockquote>
      <p class="quote-source">&mdash; {{ pullquote_attribute }}</p>
    </div>
  </div>
</a>
