<li class="feed-app feed-element" data-type="app" data-id="{{ app.id }}"
    data-slug="{{ app.slug }}" {% if is_builder %}draggable="true"{% endif %}>
  <a {% if not is_builder %}href="{{ url('edit', ['apps', app.slug]) }}"{% endif %}>
    <img class="icon" src="{{ app.app.icons['32'] }}">
    <h3 class="elliflow">{{ '{name} ({slug})'|format({name: app.app.name, slug: app.slug}) }}</h3>
    <span class="type">{{ feed.FEEDAPP_TYPES[app.type] }}</span>
    <span class="delete" data-type="feed-app"></span>
  </a>
</li>
