<li class="brand feed-element" data-type="brand" data-id="{{ brand.id }}"
    data-slug="{{ brand.slug }}" {% if is_builder %}draggable="true"{% endif %}>
  <a {% if not is_builder %}href="{{ url('edit', ['brands', brand.slug]) }}"{% endif %}>
    {% if brand.app_count or brand.apps.length %}
      <img class="icon" src="{{ brand.preview_icon or brand.apps[0].icons['32'] }}">
    {% endif %}
    <h3 class="elliflow">
      {{ _('{name} ({num_apps} apps)')|format({name: feed.BRAND_TYPES[brand.type][0] if num_apps == 1 else feed.BRAND_TYPES[brand.type][1],
                                               num_apps: brand.app_count or brand.apps.length}) }}
    </h3>
    <span class="type">{{ feed.BRAND_LAYOUTS[brand.layout] }}</span>
    <span class="delete" data-type="brand"></span>
  </a>
</li>
