{# This template is used both by the Manage Existing Content page and Feed Builder page. #}

{% macro more_button(next_page_url) %}
  <li class="loadmore">
    <button class="button alt" data-url="{{ (apiHost(next_page_url) + next_page_url)|safe }}">{{ _('More') }}</button>
  </li>
{% endmacro %}

{% macro feed_apps(apps, response) %}
  <h2>{{ _('Featured Apps ({number})')|format({number: this.meta.total_count or apps.length}) }}</h2>
  <ul class="feed-apps element-listing">
    {% for app in apps %}
      {% include "listing/app.html" %}
    {% endfor %}
    {% if not apps.length %}
      <p class="no-results">{{ _('No featured apps found') }}</p>
    {% endif %}
    {% if response and response.meta.next %}
      {{ more_button(response.meta.next) }}
    {% endif %}
  </ul>
{% endmacro %}

{% macro feed_collections(collections, response) %}
  <h2>{{ _('Collections ({number})')|format({number: this.meta.total_count or collections.length}) }}</h2>
  <ul class="collections element-listing">
    {% for collection in collections %}
      {% include "listing/collection.html" %}
    {% endfor %}
    {% if not collections.length %}
      <p class="no-results">{{ _('No collections found') }}</p>
    {% endif %}
    {% if response and response.meta.next %}
      {{ more_button(response.meta.next) }}
    {% endif %}
  </ul>
{% endmacro %}

{% macro feed_brands(brands, response) %}
  {% set b_types = feed.BRAND_TYPES %}
  <h2>{{ _('Editorial Brands ({number})')|format({number: this.meta.total_count or brands.length}) }}</h2>
  <ul class="brands element-listing">
    {% for brand in brands %}
      {% include "listing/brand.html" %}
    {% endfor %}
    {% if not brands.length %}
      <p class="no-results">{{ _('No brands found') }}</p>
    {% endif %}
    {% if response.meta.next %}
      {{ more_button(response.meta.next) }}
    {% endif %}
  </ul>
{% endmacro %}

{% macro feed_shelves(shelves, response) %}
  <ul class="shelves element-listing">
    <h2>{{ _('Operator Shelves ({number})')|format({number: this.meta.total_count or shelves.length}) }}</h2>
    {% for shelf in shelves %}
      {% include "listing/shelf.html" %}
    {% endfor %}
    {% if not shelves.length %}
      <p class="no-results">{{ _('No shelves found') }}</p>
    {% endif %}
    {% if response.meta.next %}
      {{ more_button(response.meta.next) }}
    {% endif %}
  </ul>
{% endmacro %}

<section class="manage-modules-listing island">
  <input class="search-elements" type="search" placeholder="{{ _('Search for a feed element...') }}">

  <div class="feed-api-results search-results">
    {% defer (url=api('feed-apps')|urlparams(ordering='-created'), paginate='ul.feed-apps') %}
      {{ feed_apps(this.objects, response) }}
    {% placeholder %}
      <h2>{{ _('Featured Apps') }}</h2>
      <p class="no-results">{{ _('Loading...') }}</p>
    {% except %}
    {% end %}

    {% defer (url=api('collections')|urlparams(ordering='-created'), paginate='ul.collections') %}
      {{ feed_collections(this.objects, response) }}
    {% placeholder %}
      <h2>{{ _('Collections') }}</h2>
      <p class="no-results">{{ _('Loading...') }}</p>
    {% except %}
    {% end %}

    {% defer (url=api('feed-brands')|urlparams(order='-created'), paginate='ul.brands') %}
      {{ feed_brands(this.objects, response) }}
    {% placeholder %}
      <h2>{{ _('Editorial Brands') }}</h2>
      <p class="no-results">{{ _('Loading...') }}</p>
    {% except %}
    {% end %}

    {% if not is_builder %}
      {% defer (url=api('feed-shelves')|urlparams(order='-created'), paginate='ul.shelves') %}
        {{ feed_shelves(this.objects, response) }}
      {% placeholder %}
        <h2>{{ _('Operator Shelves') }}</h2>
        <p class="no-results">{{ _('Loading...') }}</p>
      {% except %}
      {% end %}
    {% endif %}
  </div>

  <div class="feed-search-results search-results"></div>
</section>
