{# This template is used both by the Manage Existing Content page and Feed Builder page. #}

{% macro more_button(next_page_url) %}
  <li class="loadmore">
    <button data-url="{{ (apiHost(next_page_url) + next_page_url)|safe }}">{{ _('See more') }}</button>
  </li>
{% endmacro %}

{% macro feed_apps(apps, response) %}
  <section>
    <h2>{{ _('Featured Apps <em>({number})')|format({number: this.meta.total_count or apps.length}) }}</em></h2>
    <ul class="feed-apps element-listing">
      {% for app in apps %}
        {% include "listing/app.html" %}
      {% endfor %}
      {% if not apps.length %}
        <p class="no-results">{{ _('No featured apps found') }}</p>
      {% endif %}
      {% if response and response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  </section>
{% endmacro %}

{% macro feed_collections(collections, response) %}
  <section>
    <h2>{{ _('Collections <em>({number})')|format({number: this.meta.total_count or collections.length}) }}</em></h2>
    <ul class="collections element-listing">
      {% for collection in collections %}
        {% include "listing/collection.html" %}
      {% endfor %}
      {% if not collections.length %}
        <p class="no-results">{{ _('No collections found') }}</p>
      {% endif %}
      {% if response and response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  </section>
{% endmacro %}

{% macro feed_brands(brands, response) %}
  {% set b_types = feed.BRAND_TYPES %}
  <section>
    <h2>{{ _('Editorial Brands <em>({number})')|format({number: this.meta.total_count or brands.length}) }}</em></h2>
    <ul class="brands element-listing">
      {% for brand in brands %}
        {% include "listing/brand.html" %}
      {% endfor %}
      {% if not brands.length %}
        <p class="no-results">{{ _('No brands found') }}</p>
      {% endif %}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  </section>
{% endmacro %}

{% macro feed_shelves(shelves, response) %}
  <section>
    <h2>{{ _('Operator Shelves <em>({number})')|format({number: this.meta.total_count or shelves.length}) }}</em></h2>
    <ul class="shelves element-listing">
      {% for shelf in shelves %}
        {% include "listing/shelf.html" %}
      {% endfor %}
      {% if not shelves.length %}
        <p class="no-results">{{ _('No shelves found') }}</p>
      {% endif %}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  </section>
{% endmacro %}

<section class="manage-modules-listing">
  <form>
    <input class="search-elements" type="search" placeholder="{{ _('Search for feed items') }}">
    <a href="#" class="search-clear" title="Clear">Clear</a>
  </form>

  <div class="feed-api-results search-results">
    {% defer (url=api('feed-apps-list')|urlparams(ordering='-created'),
              pluck='objects', as='feed-app', paginate='ul.feed-apps') %}
      {{ feed_apps(this, response) }}
    {% placeholder %}
      <h2>{{ _('Featured Apps') }}</h2>
      <p class="no-results">{{ _('Loading...') }}</p>
    {% except %}
    {% end %}

    {% defer (url=api('collections-list')|urlparams(ordering='-created'),
              pluck='objects', as='feed-collection', paginate='ul.collections') %}
      {{ feed_collections(this, response) }}
    {% placeholder %}
      <h2>{{ _('Collections') }}</h2>
      <p class="no-results">{{ _('Loading...') }}</p>
    {% except %}
    {% end %}

    {% defer (url=api('feed-brands-list')|urlparams(order='-created'),
              pluck='objects', as='feed-brand', paginate='ul.brands') %}
      {{ feed_brands(this, response) }}
    {% placeholder %}
      <h2>{{ _('Editorial Brands') }}</h2>
      <p class="no-results">{{ _('Loading...') }}</p>
    {% except %}
    {% end %}

    {% if not is_builder %}
      {% defer (url=api('feed-shelves-list')|urlparams(order='-created'),
                pluck='objects', as='feed-shelf', paginate='ul.shelves') %}
        {{ feed_shelves(this, response) }}
      {% placeholder %}
        <h2>{{ _('Operator Shelves') }}</h2>
        <p class="no-results">{{ _('Loading...') }}</p>
      {% except %}
      {% end %}
    {% endif %}
  </div>

  <div class="feed-search-results search-results"></div>
</section>
