{% macro more_button(next_page_url) %}
  <li class="loadmore">
    <button class="button alt" data-url="{{ (apiHost(next_page_url) + next_page_url)|safe }}">{{ _('More') }}</button>
    <div class="spinner alt btn-replace"></div>
  </li>
{% endmacro %}

<section class="manage-modules-listing island">
  <input class="search-elements" type="search" placeholder="{{ _('Search for a feed element...') }}">

  <div class="feed-api-results">
    {% defer (url=api('feed-apps')|urlparams(ordering='-created'), paginate='ul.feed-apps') %}
        <h2>{{ _('Featured Apps ({number})')|format({number: this.meta.total_count}) }}</h2>
      <ul class="feed-apps element-listing">
        {% for app in this.objects %}
          {% include "listing/app.html" %}
        {% endfor %}
        {% if response.meta.next %}
          {{ more_button(response.meta.next) }}
        {% endif %}
      </ul>
    {% placeholder %}
      <h2>{{ _('Featured Apps') }}</h2>
    {% except %}
    {% end %}

    {% defer (url=api('collections')|urlparams(ordering='-created')) %}
      <h2>{{ _('Collections ({number})')|format({number: this.meta.total_count}) }}</h2>
      <ul class="collections element-listing">
        {% for collection in this.objects %}
          {% include "listing/collection.html" %}
        {% endfor %}
      </ul>
    {% placeholder %}
      <h2>{{ _('Collections') }}</h2>
    {% except %}
    {% end %}

    {% set b_types = feed.BRAND_TYPES %}
    {% defer (url=api('feed-brands')|urlparams(order='-created')) %}
      <h2>{{ _('Editorial Brands ({number})')|format({number: this.meta.total_count or 0}) }}</h2>
      <ul class="brands element-listing">
        {% for brand in this.objects %}
          {% include "listing/brand.html" %}
        {% endfor %}
      </ul>
    {% placeholder %}
      <h2>{{ _('Editorial Brand') }}</h2>
    {% except %}
    {% end %}
  </div>

  <div class="feed-search-results"></div>
</section>
