{# This is a shared file between Fireplace and Transonic. #}

{% from '_macros/feed_item.html' import feed_shelf %}
{% from '_macros/market_tile.html' import market_tile %}

<section class="main feed feed-landing shelf-landing">
  <div class="column-a">
    {{ feed_shelf(this, true, preview_mode) }}
    <p class="desc">{{ this.description|translate(this) }}</p>
  </div>

  {% if this.apps %}
    <ol class="container column-b c">
      {% for app in this.apps %}
        <li class="item result app c">
          {{ market_tile(app, link=(not preview_mode), src='shelf', tray=False) }}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    {# L10n: Please do your best to capture the essence of Scooby Doo. #}
    {{ _("Ruh roh! No apps here, Shaggy!") }}
  {% endif %}
</section>
