{% include '_macros/stars.html' %}

{% macro mini_tile(app, hidden, landing) %}
  <li class="app mini-app {{ 'hidden' if hidden }}">
    <a href="#" class="app-link c">
      <img src="{{ app.icons[64] }}" alt="{{ app.name }}">
      <div class="info">
        <h2 class="app-name elliflow">{{ app.name }}</h2>
        <p class="author elliflow">{{ app.author }}</p>
        <div class="rating">
          {% if app.ratings.average %}
            {{ stars(app.ratings.average) }}
          {% else %}
            <span class="cnt long">{{ _('Not yet rated') }}</span>
          {% endif %}
        </div>
      </div>
      <button class="button product install paid">{{ app.price }}</button>
    </a>
  </li>
{% endmacro %}

<section class="feed-brand feed-layout-{{ brand.layout }} multi-app-tile mkt-tile c">
  {# TODO: `src` based on the brand `brand.type`. Nuke inline style. #}
  <img src="" alt="" class="brand" style="border: 1px solid #ddd;">
  <div class="info">
    <h1 class="feed-tile-header">{{ feed.get_brand_name(brand) }}</h1>
  </div>
  <ul class="app-list">
    {% for app in brand.apps %}
      {# Show the first X apps, hide the rest. #}
      {{ mini_tile(app, hidden=loop.index0 >= feed.MAX_BRAND_APPS, landing=landing) }}
    {% endfor %}
  </ul>
  {% if not landing and brand.apps.length > feed.MAX_BRAND_APPS %}
    <a href="#" class="view-all">
      {{ _('View all apps') }}
    </a>
  {% endif %}
</section>
