<a href="#">
  <section class="feed-item" style="background-color: {{ background_color|hex2rgba('.4') }}; background-image: url('{{ background_image }}');">
    {% if apps %}
      <ul class="app-icons">
        {% for app in apps %}
          <li><img src="{{ app.icons[64] }}" alt="{{ app.name }}"></li>
        {% endfor %}
      </ul>
    {% elif app %}
      <ul class="app-icons">
          <li><img src="{{ app.icons[64] }}" alt="{{ app.name }}"></li>
      </ul>
    {% endif %}
    <div class="curve" style="background-color: {{ background_color|hex2rgba('.8') }}"></div>
    <div class="info">
      <h1>{{ app.name }}</h1>
      <p class="author">{{ app.author }}</p>
    </div>
  </section>
</a>
