{% include '_macros/stars.html' %}

<a href="#" class="app-link">
  <div class="product mkt-tile feed-app">
    <img class="icon" src="{{ app.icons[64] }}" height="64" width="64">
    <div class="info">
      <h3 class="name">{{ app.name }}</h3>
      <div class="author lineclamp vital subdetail">
        {{ app.author }}
      </div>
      <div class="price vital">{{ app.price }}</div>
      <div class="rating">{{ stars(app.rating) }}</div>
      <button class="button product install paid">{{ app.price }}</button>
    </div>
    <div class="tile-footer {{ type }}"
       {% if type == feed.FEEDAPP_QUOTE %}style="background: {{ background_color }};"{% endif %}>
      {% if type == feed.FEEDAPP_DESC %}
        <p class="desc">{{ description }}</p>
      {% elif type == feed.FEEDAPP_QUOTE %}
        <p class="stars large white stars-{{ pullquote_rating }}">
          {{ pullquote_rating }}
        </p>
        <blockquote><p>{{ pullquote_text }}</p></blockquote>
        <p class="quote-source">
          {{ _('&mdash; {attribution}')|format(
               {attribution: pullquote_attribution}) }}
        </p>
      {% elif type == feed.FEEDAPP_PREVIEW %}
        {% if description %}
          <p class="desc">{{ description }}</p>
        {% endif %}
        <div class="feed-app-preview-container"
             style="background-color: {{ background_color }};
                    background-image: url({{ preview }});"></div>
      {% endif %}
    </div>
  </div>
</a>
