@import 'lib';

.app-selector {
    position: relative;
}

.app-selector,
.selected-app,
.apps-widget {
    display: inline-block;

    &.focused input {
        border-color: $blue-action-primary;
    }

    .loading {
        color: $blue-action-primary;
        display: none;
        font-size: 20px;
        position: absolute;
        right: 9px;
        top: 9px;
    }

    #app-selector {
        background: url(../img/pretty/search.svg) 9px 50% no-repeat;
        background-size: 18px auto;
        padding-left: 40px !important;
    }

    input {
        height: 42px;
        padding: 0 40px 0 10px !important;
        width: 100%;
    }
    .paginator {
        margin-bottom: 1px;

        a {
            background: $blue-action-primary;
            color: #fff;
            display: inline-block;
            float: left;
            font-size: 12px;
            line-height: 1;
            padding: 6px 0;
            text-align: center;
            text-transform: uppercase;
            transition(background .1s);
            width: 50%;

            &:hover {
                cursor: pointer;
                background: lighten($blue-action-primary, 10%);
                text-decoration: none;
            }

            &:last-child {
                border-left-width: 0;
            }

            &.prev{
                border-right: 1px solid $white;
            }

            &.disabled,
            &.disabled:hover {
                background-color: $salt-flat-white;
                cursor: auto;
            }

        }

        &:last-child {
            display: none;
        }

        .desc {
            color: $dark-gray-grayscale-primary;
            font-size: 12px;
            line-height: 1;
            padding: 35px 15px 10px;
        }

    }

    .results {
        border: 1px solid $blue-action-primary;
        border-radius: 0 0 5px 5px;
        border-top: 0;
        background: none repeat scroll 0% 0% #FFF;
        display: none;
        position: absolute;
        right: 1px;
        top: 35px;
        width: 400px;
        z-index: 50;
    }

    .placeholder-text {
        border-top: 1px solid $light-gray-grayscale-primary;
        color: $text;
        font-size: 14px;
        font-style: italic;
        padding: 10px 10px 5px;
    }

    .result {
        transition(background .1s);
        border-top: 1px solid $light-gray-grayscale-primary;
        padding: 15px 5px 10px 10px;
        position: relative;

        &:hover {
            cursor: pointer;
            background: $faint-blue;
        }

        &.selected {
            background: $shadow-blue;
        }

    }
    .no-results {
        border-top: 1px solid $light-gray-grayscale-primary !important;
        font-size: 14px;
        padding: 15px 5px 10px 10px;
    }
    .icon {
        left: 10px;
        position: absolute;
        top: 15px;
    }
    .info {
        padding-left: 42px;

        > * {
            display: inline-block;
            vertical-align: top;
        }
        .name {
            font-size: 18px;
            padding: 0;
            width: 257px;
        }
        .author {
            font-size: 13px;
        }
        .name,
        .author {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .rating {
            font-size: 12px;
        }
    }
    .price {
        font-size: 12px;
        position: absolute;
        top: 70px;
    }
    .compat-info {
        > * {
            display: inline-block;
            vertical-align: top;
        }

        .device-types {
            margin-top: 5px;

            li {
                background: url(../img/icons/platform_icons.png) no-repeat;
                display: inline-block;
                height: 23px;
                position: relative;
                text-indent: -9999px;
                vertical-align: middle;
                width: 26px;

                &.unavailable {
                    opacity: .8;
                }
                &.desktop {
                    background-position: 0 -92px;

                    &.unavailable {
                        background-position: 0 -115px;
                    }
                }
                &.android,
                &.android-mobile,
                &.android-tablet {
                    background-position: 0 -138px;
                    margin-left: 2px;

                    &.unavailable {
                        background-position: 0 -161px;
                    }
                }
                &.firefoxos {
                    background-position: 0 -184px;

                    &.unavailable {
                        background-position: 0 -207px;
                    }
                }
            }
        }
        .disabled-regions {
            border-left: 1px solid $light-gray;
            margin: 5px 0 0 3px;
            max-width: 150px;
            padding-left: 8px;

            span {
                font-size: 13px;
                font-weight: 300;
                margin-right: 3px;
            }
            li {
                background-size: 13px;
                display: inline-block;
                height: 13px;
                margin-right: 1px;
                position: relative;
                top: 2px;
                width: 13px;
            }
        }
    }
}

.apps-widget-single {
    position: relative;

    // Make this look disabled on edit page.
    [data-page-type~="edit"] & {
        color: #7F7F7F;

        .delete {
            display: none;
        }
    }

    label {
        position: relative;
        top: -2px;
    }

    .fake-field {
        padding-top: 7px !important;
    }

    .delete {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 18px auto;
        display: inline-block;
        height: 30px;
        overflow: hidden;
        padding-top: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 30px;

        &:hover {
            background: url(../img/pretty/close_active.svg) 50% no-repeat;
            cursor: pointer;
        }
    }
}


.apps-multiple {
    label {
        display: block;
        padding: 0 0 5px 10px;
        position: relative;
        text-align: left;
        width: auto;

        &[for="app-selector"] {
            display: none;
        }
    }

    .app-selector {
        margin: 0 0 20px 10px;

        .results {
            left: 0;
            right: auto;
        }
    }

    .apps-widget {
        display: block;
    }

    .app-group input,
    .app-group span {
        vertical-align: top;
    }
}


for region in ar br cl cn co de es gr hu it me mx pe pl rs uk us uy ve restofworld
    .disabled-regions .{region} {
        background-image: url(unquote('../img/icons/regions/' + region + '.png'));
    }
