@import 'lib';

.feed-builder {
    position: relative;
    width: 100%;

    > section {
        display: inline-block;
        margin: 0 2.5%;
        vertical-align: top;
        width: 45%;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        > h2 {
            line-height: 24px;
            margin-bottom: 12px;
        }
    }
}

[data-page-type~="publish"] {
    .island {
        box-shadow: none;
    }

    .manage-modules-listing {
        .search-results > section,
        .search-results > div {
            display: block;
            margin: 20px 0 0;
            padding: 0;
            width: auto;
        }

        form {
            margin: 0;
            width: 100%;
        }
        .actions {
            display: none;
        }
    }
}

.feed-column {
    background: $barely-gray;
    box-shadow: 0 0 1px 1px $cement-gray;
    padding: 20px;

    .submit {
        margin-top: 20px;
        width: 100%;
    }
    [name="feed-region"] {
        background: #fff;
        border: 1px solid $light-gray;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 5px 0;
        width: 100%;
    }
    .empty-results {
        color: $cement-gray;
        line-height: 24px;
        padding: 20px 0;
        text-align: center;
    }
    .region-feed {
        padding: 0 5px;
    }

    .feed-selector,
    .pretty-select,
    .pretty-select select {
        margin-top: 0;
        width: 100%;
    }

    .feed-elements {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .feed-element {
        position: relative;

        > a {
            max-width: 280px;

            &:hover {
                cursor: move;
            }
        }
    }
    .feed-element:first-child .prev,
    .feed-element:last-child .next {
        display: none;
    }
    .actions {
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;

        .reorder:hover {
            cursor: pointer;
        }
        .reorder:first-child {
            top: -2px;
        }
        .delete {
            right: 0px;
            top: 12px;
        }
        .reorder:last-child {
            bottom: -2px;
        }
    }
    .delete-feed-element {
        display: none;
    }
}

// Adapt manage listing to feed builder.
.feed-builder .manage-modules-listing {
    .delete-feed-element,
    .shelves {
        display: none;
    }
}

.feeds .loading {
    background: rgba(180, 180, 180, .8);
    border-radius: 5px;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;

    .fa-spin {
        color: #fff;
        font-size: 36px;
        position: relative;
        top: 100px;
    }
}
