@import 'lib';

#create-landing .create > li {
    float: left;
    height: 300px;
    margin: 20px 0 0;
    position: relative;
    text-align: center;
    width: 33%;

    h3 {
        bottom: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    &.shelf {
        border-top: 1px solid $cement-gray;
        height: 60px;
        width: 100%;

        a {
            border-radius: 0 0 8px 8px;
            padding: 20px 40%;

            &:hover {
                background: $faint-gray;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.transonic-form {
    /* Generic form styling (applies to apps + collections + brands). */
    .island:first-child > h3 {
        font-weight: normal;
    }
    .field {
        margin: 15px 0;
    }
    .top-hat-field {
        > label:first-child {
            background: $light-gray;
            border-radius: 5px 5px 0 0;
            padding: 8px;
            width: 100%;
        }
        .inner {
            border: 1px solid $light-gray;
            width: 100%;
        }
    }
    .inline-label {
        background: $light-gray;
        border-radius: 5px 0 0 5px;
        display: inline-block;
        margin-right: -4px;
        padding: 8px 20px;
        vertical-align: middle;
    }
    .choices-box {
        border: 1px solid $light-gray;
        display: inline-block;
        padding: 6px 0 6px 6px;
        vertical-align: middle;
        width: 66%;
    }
    textarea {
        border: 1px solid $light-gray;
        height: 150px;
        width: 100%;
    }
    .top-hat-field.half {
        display: inline-block;
        vertical-align: top;
        width: 45%;

        &:first-child {
            margin-right: 20px;
        }
        &.hidden {
            display: none;
        }
    }
    fieldset {
        input {
            display: none;
        }
        label:hover {
            cursor: pointer;
        }
        input:checked + label:not(.color):not(.rating) {
            background: $sailor-blue;
            color: #fff;
        }
        &.vert-choices {
            border: 0;
            display: block;
            width: 100%;

            label {
                padding: 7px;
            }
        }
    }
    .submit button {
        background: $sailor-blue;
        border: 0;
        border-radius: 2px;
        color: #fff;
        margin: 10px 0;
        padding: 10px 15px;
    }

    .boring-text input {
        width: 33%;
    }
    .color-fields .field {
        display: inline-block;
        width: 45%;

        .colors {
            .color-box {
                border: 1px solid $light-gray;
                border-radius: 3px;
                display: inline-block;
                height: 20px;
                width: 20px;
                vertical-align: middle;
            }
            .selected-text {
                border-right: 1px solid $light-gray;
                display: inline-block;
                margin-right: 8px;
                padding-right: 8px;
                width: 68px;
            }
        }
    }
    fieldset.choices {
        border: 0;
        display: inline-block;
        padding: 0;

        label {
            display: inline-block;
        }
    }
    fieldset.tabs {
        border: 0;
        padding: 0;

        label {
            border-radius: 2px 2px 0 0;
            display: inline-block;
            margin-left: 20px;
            padding: 7px 15px;
        }
        input:checked + label {
            background: #fff;
            border: 1px solid $light-gray;
            border-bottom-width: 0;
            color: $dark-gray;
            box-shadow: none;
        }
    }
    .inline-label + select {
        border: 1px solid $light-gray;
        padding: 6px;
        vertical-align: middle;
    }
    .background-image .inner {
        padding: 10px;
    }
    .background-image-input {
        display: inline-block;
        margin-left: 20px;

        p {
            position: relative;
            text-align: center;
            top: 5px;
        }
        [data-fileinput-fake] {
            border: 1px dotted $light-gray;
            display: block;
            height: 200px;
            width: 200px;
            margin: 20px auto;
            position: relative;
            text-align: center;
            vertical-align: top;

            &:hover {
                cursor: pointer;
            }
            img {
                position: absolute;
                left: 0;
                max-width: 100%;
                top: 0;
            }
            input {
                border: 0;
                border-radius: 5px;
                bottom: 0;
                display: none;
                font-weight: 300;
                left: 0;
                position: absolute;
                right: 0;
                text-align: center;

                &:hover {
                    cursor: default;
                }
                &[disabled] {
                    background-color: #fff;
                    border-radius: 10px;
                    color: $dark-gray;
                }
            }
        }
        &.filled [data-fileinput-fake] {
            border: 2px solid $green;
            position: relative;

            input {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .description .description-type .inner {
        padding: 5px;
    }
    .placeholder-text {
        border: 1px solid $light-gray;
        border-radius: 0 0 5px 5px;
        font-weight: 300;
        padding: 10px;
    }
    .pq-rating.field {
        .choices-box {
            height: 34px;
            padding: 6px;
            width: -moz-fit-content;
            width: -webkit-fit-content;

        }
        [data-rating="1"] {
            .star-1 {
                color: $sailor-blue;
            }
        }
        [data-rating="2"] {
            .star-1, .star-2 {
                color: $sailor-blue;
            }
        }
        [data-rating="3"] {
            .star-1, .star-2, .star-3 {
                color: $sailor-blue;
            }
        }
        [data-rating="4"] {
             .star-1, .star-2, .star-3, .star-4 {
                color: $sailor-blue;
            }
        }
        [data-rating="5"] {
            .star-1, .star-2, .star-3, .star-4, .star-5 {
                color: $sailor-blue;
            }
        }
        .star {
            bottom: 10px;
            color: $light-gray;
            font-size: 30px;
            margin-right: 2px;
            position: relative;
        }
    }
}

.locale-switcher {
    position: absolute;
    right: 0;
    top: -30px;

    label,
    select {
        display: inline-block;
    }
}

.transonic-form .app-selector {
    margin: 10px 20px 0 0;
    vertical-align: top;
}

.apps {
    .background-image-input.shelf-landing {
        display: none;
    }
    .featured-app {
        display: inline-block;
        margin-top: 10px;
        width: 320px;
    }
    .selected-app {
        border: 1px solid $light-gray;
        border-radius: 0 0 5px 5px;
        font-weight: 300;
        padding: 10px;
    }
    .background-image.field {
        width: 270px;
    }
}

.collections,
.shelves {
    &[data-collection-type="promo"],
    &[data-collection-type="listing"] {
        .background-image {
            width: 270px;
        }
        .shelf-landing {
            display: none;
        }
    }
    .float-wrap {
        float: left;
        width: 40%;

        input {
            width: 70%;
        }
    }
    .description.top-hat-field.half {
        float: right;
        position: relative
        right: 140px;
    }
    .background-image {
        display: inline-block;
    }
}

.brands {
        .brand-helptext {
        font-weight: 300;
        font-size: 12px;
        padding-top: 8px;
    }
}

.apps-widget {
    margin-top: 10px;

    label {
        position: relative;
    }
    .apps .result {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        position: relative;
        user-select: none;

        &:hover {
            background: none;
        }
    }
    .actions {
        bottom: 0;
        position: absolute;
        right: -2px;
        text-align: center;
        width: 50px;

        i, a {
            display: block;
            padding: 3px 0;
        }
        .reorder {
            color: $light-gray;
            font-size: 26px;

            &:hover {
                color: $sailor-blue;
            }
        }
        .delete {
            background: url(../img/pretty/close.svg) 50% no-repeat;
            background-size: 18px auto;
            height: 30px;
            left: 5px;
            position: relative;
            width: 40px;

            &:hover {
                background: url(../img/pretty/close_active.svg) 50% no-repeat;
                cursor: pointer;
            }
        }
    }
    .add-app-group {
        bottom: 2px;
        display: none;
        height: 30px;
        line-height: 30px;
        padding: 0;
        position: absolute;
        right: 3px;
        width: 150px;
    }
    .app-group-input {
        width: 90%;
    }
    .delete-app-group {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 18px auto;
        height: 34px;
        position: absolute;
        right: 2px;
        top: 17px;
        width: 40px;

        &:hover {
            background: url(../img/pretty/close_active.svg) 50% no-repeat;
            cursor: pointer;
        }
    }
}

.collections[data-collection-type="promo"] {
    .add-app-group {
        display: inline-block;
    }
}
