@import 'lib';

#create-landing .create > li {
    float: left;
    height: 300px;
    margin: 20px 0 0;
    position: relative;
    text-align: center;
    width: 33%;

    h3 {
        bottom: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    &.shelf {
        border-top: 1px solid $cement-gray;
        height: 60px;
        width: 100%;

        a {
            border-radius: 0 0 8px 8px;
            padding: 20px 40%;

            &:hover {
                background: $faint-gray;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

form {

    fieldset {
        input {
            display: none;
        }

        label:hover {
            cursor: pointer;
        }

        input:checked + label:not(.color):not(.rating) {
            background: $sailor-blue;
            color: #fff;
        }

        &.vert-choices {
            border: 0;
            display: block;
            width: 100%;

            label {
                padding: 7px;
            }
        }
    }

    fieldset.choices {
        border: 0;
        display: inline-block;
        padding: 0;

        label {
            display: inline-block;
        }
    }

    .field.bg-color {
        width: auto;

        .colors {
            display: inline-block;

            input {
                display: none;
            }

            label {
                width: auto;
            }

            .color-box {
                display: inline-block;
                height: 40px;
                width: 80px;
                vertical-align: middle;
            }

            .color {
                margin-right: -3px;
                position: relative;

                &.selected:before {
                    color: $white;
                    content: '\2713';
                    font-size: 24px;
                    font-weight: 100;
                    height: 24px;
                    left: 50%;
                    line-height: 1;
                    margin: -12px 0 0 -12px;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 24px;
                }
            }
        }
    }


    /*
    .choices-box {
        border: 1px solid $light-gray;
        display: inline-block;
        padding: 6px 0 6px 6px;
        vertical-align: middle;
        width: 66%;
    }
    .transonic-form {
        .publish p {
            padding: 10px 0;
        }
        .publish button,
        .submit button {
            background: $sailor-blue;
            border: 0;
            border-radius: 2px;
            color: #fff;
            margin: 10px 0;
            padding: 10px 15px;
        }
        .boring-text {
            .help-text {
                margin-left: 5px;
            }
            input {
                width: 33%;
            }
        }
        fieldset.tabs {
            border: 0;
            padding: 0;

            label {
                border-radius: 2px 2px 0 0;
                display: inline-block;
                margin-left: 20px;
                padding: 7px 15px;
            }
            input:checked + label {
                background: #fff;
                border: 1px solid $light-gray;
                border-bottom-width: 0;
                color: $dark-gray;
                box-shadow: none;
            }
        }
        .inline-label + select {
            border: 1px solid $light-gray;
            padding: 6px;
            vertical-align: middle;
        }
        .description .description-type .inner {
            padding: 5px;
        }
        .placeholder-text {
            border: 1px solid $light-gray;
            border-radius: 0 0 5px 5px;
            font-weight: 300;
            padding: 10px;
        }
    */


    .background-image .inner {
        display: inline-block;
        vertical-align: top;
        width: 500px;
    }
    .background-image.field {
        width: 625px;

        label {
            vertical-align: top;
        }
    }
    .background-image-input {
        display: inline-block;

        p {
            position: relative;
            text-align: center;
            top: 5px;
        }
        [data-fileinput-fake] {
            border: 2px dashed $light-gray-grayscale-primary;
            display: block;
            height: 166px;
            width: 200px;
            overflow: hidden;
            position: relative;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            img {
                position: absolute;
                left: 0;
                max-width: 100%;
                top: 0;
                z-index: 2;
            }

            input {
                border: 0;
                border-radius: 5px;
                bottom: 0;
                display: none;
                font-weight: 300;
                left: 0;
                position: absolute;
                right: 0;
                text-align: center;

                &:hover {
                    cursor: default;
                }

                &[disabled] {
                    background-color: #fff;
                    border-radius: 10px;
                    color: $dark-gray;
                }
            }

            .instructions {
                color: $gray-grayscale-primary;
                font-size: 20px;
                padding-top: 15px;
                text-align: center;
                z-index: 1;
            }
        }
        &.filled [data-fileinput-fake] {
            border-style: solid;
            position: relative;

            input {
                display: block;
                font-size: 13px;
                height: 30px;
                margin: 0 auto;
            }
        }
    }

    .field.screenshot {
        width: 625px;

        > label,
        .screenshots {
            vertical-align: top;
        }

        .screenshots {
            display: inline-block;
            width: 500px;
        }

        .placeholder-text {
            color: $label-grey;
            font-style: italic;
        }
    }

    .field.pq-rating {
        input {
            display: none;
        }

        > label,
        .choices-box {
            vertical-align: top;
        }

        fieldset {
            position: relative;
            top: -3px;

            label {
                height: 20px;
                margin: 0;
                overflow: hidden;
                padding: 0;
                width: 20px;
            }
        }

        .choices-box {
            display: inline-block;
            height: 20px;
        }

        [data-rating="1"] {
            .star-1 {
                color: $sailor-blue;
            }
        }

        [data-rating="2"] {
            .star-1, .star-2 {
                color: $sailor-blue;
            }
        }

        [data-rating="3"] {
            .star-1, .star-2, .star-3 {
                color: $sailor-blue;
            }
        }

        [data-rating="4"] {
             .star-1, .star-2, .star-3, .star-4 {
                color: $sailor-blue;
            }
        }

        [data-rating="5"] {
            .star-1, .star-2, .star-3, .star-4, .star-5 {
                color: $sailor-blue;
            }
        }

        .star {
            bottom: 10px;
            color: $light-gray;
            font-size: 30px;
            margin-right: 2px;
            position: relative;
        }
    }

}

.fake-field {
    padding: 8px 10px 0 40px !important;
    position: relative;

    img {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 9px;
        left: 9px;
    }
}
*/

.fake-field {
    padding: 8px 10px 0 40px !important;
    position: relative;

    img {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 9px;
        left: 9px;
    }
}

.locale-switcher {
    position: absolute;
    right: 0;
    top: -30px;

    label,
    select {
        display: inline-block;
    }
}

.apps {
    .background-image-input.shelf-landing {
        display: none;
    }
    .featured-app {
        display: inline-block;
        margin-top: 10px;
        width: 320px;
    }
    .selected-app {
        border: 1px solid $light-gray;
        border-radius: 0 0 5px 5px;
        font-weight: 300;
        padding: 10px;
    }
    .background-image.field {
        width: 625px;
    }
}

.apps-widget {
    margin-top: 10px;

    .apps .result {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        position: relative;
        user-select: none;

        &:hover {
            background: none;
        }
    }
    .actions {
        bottom: 0;
        position: absolute;
        right: -2px;
        text-align: center;
        width: 50px;

        i, a {
            display: block;
            padding: 3px 0;
        }
        .reorder {
            color: $light-gray;
            font-size: 26px;

            &:hover {
                color: $sailor-blue;
            }
        }
        .delete {
            background: url(../img/pretty/close.svg) 50% no-repeat;
            background-size: 18px auto;
            height: 30px;
            left: 5px;
            position: relative;
            width: 40px;

            &:hover {
                background: url(../img/pretty/close_active.svg) 50% no-repeat;
                cursor: pointer;
            }
        }
    }
    .add-app-group {
        bottom: 2px;
        display: none;
        height: 30px;
        line-height: 30px;
        padding: 0;
        position: absolute;
        right: 3px;
        width: 150px;
    }
    .app-group-input {
        width: 90%;
    }
    .delete-app-group {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 18px auto;
        height: 34px;
        position: absolute;
        right: 2px;
        top: 17px;
        width: 40px;

        &:hover {
            background: url(../img/pretty/close_active.svg) 50% no-repeat;
            cursor: pointer;
        }
    }
}

.collections[data-collection-type="promo"] {
    .add-app-group {
        display: inline-block;
    }
}

option.highlighted {
    background-color: $flamin-hot-cheetos-orange;
    color: #fff;
}
