@import 'lib';

[data-page-type~="create"][data-page-type~="home"] main {
    width: 912px;

    .feed-previews {
        display: none;
    }
}

#create-landing {
    border-radius: 5px;
    padding: 40px 20px;

    li {
        background-position: center 0;
        background-size: 150px auto;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        text-align: center;
        width: 200px;

        &:last-child {
            margin-right: 0;
        }

        &.create-app { background-image: url(../img/icons/item_types/app.svg); }
        &.create-brand { background-image: url(../img/icons/item_types/brand.svg); }
        &.create-collection { background-image: url(../img/icons/item_types/collection.svg); }
        &.create-shelf { background-image: url(../img/icons/item_types/shelf.svg); }

        a {
            color: $text;
            display: block;
            font-size: 13px;
            padding-top: 165px;
            text-transform: uppercase;
        }

        h3 {
            bottom: 10px;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }
}

form {
    fieldset {
        input {
            display: none;
        }

        label:hover {
            cursor: pointer;
        }

        input:checked + label:not(.color):not(.rating) {
            background: $sailor-blue;
            color: #fff;
        }

        &.vert-choices {
            border: 0;
            display: block;
            width: 100%;

            label {
                padding: 7px;
            }
        }
    }

    fieldset.choices {
        border: 0;
        display: inline-block;
        padding: 0;

        label {
            display: inline-block;
        }
    }

    .field.bg-color {
        width: auto;

        .colors {
            display: inline-block;

            input {
                display: none;
            }

            label {
                width: auto;
            }

            .color-box {
                display: inline-block;
                height: 40px;
                width: 80px;
                vertical-align: middle;
            }

            .color {
                margin-right: -3px;
                position: relative;

                &.selected:before {
                    color: $white;
                    content: '\2713';
                    font-size: 24px;
                    font-weight: 100;
                    height: 24px;
                    left: 50%;
                    line-height: 1;
                    margin: -12px 0 0 -12px;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 24px;
                }
            }
        }
    }

    .background-image .error-msg {
        text-align: left;
    }
    .background-image .inner {
        display: inline-block;
        vertical-align: top;
        width: 500px;
    }
    .background-image.field {
        width: 625px;

        label {
            vertical-align: top;
        }
    }
    .background-image-input:not(.aviary) {
        display: inline-block;

        p {
            position: relative;
            text-align: center;
            top: 5px;
        }
        [data-fileinput-fake] {
            border: 2px dashed $light-gray-grayscale-primary;
            display: block;
            height: 166px;
            width: 200px;
            overflow: hidden;
            position: relative;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            img {
                position: absolute;
                left: 0;
                max-width: 100%;
                top: 0;
                z-index: 2;
            }

            input {
                border: 0;
                border-radius: 5px;
                bottom: 0;
                display: none;
                font-weight: 300;
                left: 0;
                position: absolute;
                right: 0;
                text-align: center;

                &:hover {
                    cursor: default;
                }

                &[disabled] {
                    background-color: #fff;
                    border-radius: 10px;
                    color: $dark-gray;
                }
            }

            .instructions {
                color: $gray-grayscale-primary;
                font-size: 20px;
                padding-top: 15px;
                text-align: center;
                z-index: 1;
            }
        }
        &.filled  {
            [data-fileinput-fake] {
                border-style: solid;
                position: relative;

                input {
                    display: block;
                    font-size: 13px;
                    height: 30px;
                    margin: 0 auto;
                }
            }

            .instructions {
                display: none;
            }
        }
    }

    .field.screenshot {
        width: 625px;

        > label,
        .screenshots {
            vertical-align: top;
        }

        .screenshots {
            display: inline-block;
            width: 500px;
        }

        .placeholder-text {
            color: $label-grey;
            font-style: italic;
        }
    }

    .field.pq-rating {
        input {
            display: none;
        }

        > label,
        .choices-box {
            vertical-align: top;
        }

        fieldset {
            position: relative;
            top: -3px;

            label {
                height: 20px;
                margin: 0;
                overflow: hidden;
                padding: 0;
                width: 20px;
            }
        }

        .choices-box {
            display: inline-block;
            height: 20px;
        }

        [data-rating="1"] {
            .star-1 {
                color: $sailor-blue;
            }
        }
        [data-rating="2"] {
            .star-1, .star-2 {
                color: $sailor-blue;
            }
        }
        [data-rating="3"] {
            .star-1, .star-2, .star-3 {
                color: $sailor-blue;
            }
        }
        [data-rating="4"] {
             .star-1, .star-2, .star-3, .star-4 {
                color: $sailor-blue;
            }
        }
        [data-rating="5"] {
            .star-1, .star-2, .star-3, .star-4, .star-5 {
                color: $sailor-blue;
            }
        }

        .star {
            bottom: 10px;
            color: $light-gray;
            font-size: 30px;
            margin-right: 2px;
            position: relative;
        }
    }
    .publish-help.help-text {
        margin: 10px 0 15px 0;
        text-align: left;
    }
}

.fake-field {
    padding: 8px 10px 0 40px !important;
    position: relative;

    img {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 9px;
        left: 9px;
    }
}
*/

.fake-field {
    padding: 8px 10px 0 40px !important;
    position: relative;

    img {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 9px;
        left: 9px;
    }
}

.locale-switcher {
    position: absolute;
    right: 0;
    top: -30px;

    label,
    select {
        display: inline-block;
    }
}

.apps {
    .background-image-input.shelf-landing {
        display: none;
    }
    .featured-app {
        display: inline-block;
        margin-top: 10px;
        width: 320px;
    }
    .selected-app {
        border: 1px solid $light-gray;
        border-radius: 0 0 5px 5px;
        font-weight: 300;
        padding: 10px;
    }
    .background-image.field {
        width: 625px;
    }
}

.apps-widget {
    margin-top: 10px;

    .apps .result {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        position: relative;
        user-select: none;

        &:hover {
            background: none;
            cursor: move;
        }
        &.dragged {
            background-color: $white;
            border: 0;

            // !important to override the inline styles added by the JS library.
            height: 62px !important;
            width: 315px !important;

            .compat-info,
            .actions {
                display: none;
            }
        }
    }
    .add-app-group {
        position: absolute;
        top: 0;
        right: 0;

        i {
            display: inline-block;
            margin-right: 3px;
        }

        &:hover,
        i {
            color: $sailor-blue;
        }
    }
    .app-group-input {
        width: 300px;
    }
    .delete-app-group {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 18px auto;
        display: inline-block;
        height: 40px;
        width: 40px;

        &:hover {
            background: url(../img/pretty/close_active.svg) 50% no-repeat;
            cursor: pointer;
        }
    }
}

.collections[data-collection-type="promo"] {
    .add-app-group {
        display: inline-block;
    }
}

option.highlighted {
    background-color: $flamin-hot-cheetos-orange;
    color: #fff;
}

.island.submit {
    button {
        float: left;
    }
    .form-errors {
        float: left;
        margin-left: 22px;
    }
}

.actions {
    i, a {
        display: block;
        width: 40px;
    }
    .reorder {
        color: $light-gray;
        font-size: 20px;
        height: 18px;
        position: absolute;
        text-align: center;
        right: 0;

        &:hover {
            color: $sailor-blue;
        }
        &:first-child{
            line-height: 22px;
            top: 0;
        }
        &:last-child {
            bottom: 0;
            line-height: 14px;
        }
    }
    .delete {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 13px auto;
        height: 26px;
        position: absolute;
        right: 0;
        top: 18px;

        &:hover {
            background-image: url(../img/pretty/close_active.svg);
            cursor: pointer;
        }
    }
}

.aviary {
    .preview {
        width: 320px;
        height: auto;
    }
    .aviary-url {
        margin-right: 15px;
        max-width: 350px;
        vertical-align: top;
    }
    .aviary-url,
    .fileinput {
        display: inline-block;
    }
    .fileinput {
        width: -moz-fit-content;
        width: -webkit-fit-content;
    }
    [data-fileinput-fake] .button {
        bottom: 2px;
        height: 30px;
        padding-bottom: 45px;
        position: relative;
        vertical-align: top;
    }
    .image-size {
        font-style: italic;
    }
    input[type="url"]:invalid {
        box-shadow: none;
    }
}
