@import 'lib';

.manage-modules-listing {
    .search-results > section,
    .search-results > div {
        background: $white;
        display: inline-block;
        margin-right: 2%;
        padding: 20px;
        vertical-align: top;
        width: 22.5%;

        &:first-child {
            margin-left: 1%;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    h2 {
        font-size: 18px;
        line-height: 1;

        em {
            color: $dark-gray-grayscale-primary;
            font-style: normal;
        }
    }

    h3 {
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        padding: 2px 0 0;
    }

    .type {
        color: $dark-gray-grayscale-primary;
        font-size: 11px;
        font-weight: 300;
        line-height: 1;
    }

    .elliflow {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .element-listing {
        border-top: 1px solid $light-gray-grayscale-primary;
        margin-top: 8px;

        .no-results {
            border: 0;
        }
    }

    .no-results {
        font-size: 13px;
        font-style: italic;
        padding-top: 8px;
    }

    .feed-element {
        border-bottom: 1px solid $light-gray-grayscale-primary;

        &:last-child {
            border-bottom: 0;
        }

        a {
            display: block;
            min-height: 48px;
            padding: 8px 28px 8px 42px;
            position: relative;
            text-decoration: none;

            &:hover h3 {
                text-decoration: underline;
            }
        }

        img {
            left: 0;
            position: absolute;
            top: 8px;
        }
    }

    .delete {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 14px auto;
        cursor: pointer;
        height: 24px;
        margin-top: -12px;
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;

        &:hover {
            background-image: url(../img/pretty/close_active.svg);
        }
    }

    .loadmore {
        padding: 8px 0 0;
        position: static;

        button {
            appearance-none();
            background: none;
            border: 0;
            box-shadow: none;
            color: $blue-action-primary;
            font-size: 13px;
            margin: 0;
            padding: 0;

            &:hover {
                text-decoration: underline;
            }

            &.hide {
                color: $dark-gray-grayscale-primary;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.manage-modules-listing form {
    margin: -20px auto 30px;
    position: relative;
    width: 620px;

    .search-elements {
        background: #FFF url(../img/pretty/search.svg) 9px 50% no-repeat;
        background-size: 18px auto;
        display: block;
        padding: 0 38px 0 40px !important;
        width: 100% !important;
    }

    .search-clear {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 14px auto;
        cursor: pointer;
        height: 24px;
        margin-top: -12px;
        overflow: hidden;
        position: absolute;
        right: 5px;
        text-indent: -999em;
        top: 50%;
        width: 24px;

        &:hover {
            background-image: url(../img/pretty/close_active.svg);
        }
    }
}
