@import 'lib';

.manage-modules-listing {
    li {
        background: $faint-gray;
        border: 1px solid $faint-gray;
        border-radius: 10px;
        margin: 15px 0;
        padding: 10px;

        &:hover {
            border: 1px solid $border-blue;
            cursor: pointer;
        }
        a {
            color: #000;
            display: block;
            position: relative;
            height: 100%;
            text-decoration: none;
            width: 100%;
        }
    }
    .icon {
        float: left;
        margin-right: 15px;
    }
    .delete {
        background: url(../img/pretty/close.svg) 50% no-repeat;
        background-size: 18px auto;
        height: 34px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;

        &:hover {
            background: url(../img/pretty/close_active.svg) 50% no-repeat;
            cursor: pointer;
        }
    }
    /*
    span.type:after {
        background: $dark-gray;
        border-radius: 10px;
        bottom: 3px;
        content: "";
        display: inline-block;
        left: 3px;
        height: 3px;
        margin: 0 6px 0 4px;
        position: relative;
        width: 2px;
    }
    */
}
