@import 'lib';

nav.site-nav {
    height: 40px;
    position: relative;

    li {
        float: left;
        margin-right: 10px;
    }
    a {
        background-color: $light-gray;
        border-radius: 10px 10px 0 0;
        color: $gray;
        display: inline-block;
        padding: 8px 15px 12px; // Inconsistent for tabby behaviour.
        // No repaint since the parent has a height.
        transition(margin 0.1s ease);

        &:hover {
            margin-top: -3px;
            text-decoration: none;
        }
    }
    + .page {
        position: relative;
        top: -5px;
        z-index: 10;
    }
}

body[data-page-type~=create] nav a.create,
body[data-page-type~=manage] nav a.existing,
body[data-page-type~=builder] nav a.builder {
    background-color: #fff;
    color: #000;
    margin-top: -3px;
}
