@import 'lib';

.preview-tray {
    background: $salt-flat-white;
    border-radius: 0 0 10px 10px;
    height: 230px;
    overflow: hidden;
    padding: 21px 0 0;
    position: relative;
    width: 900px;

    &.single {
        // No dots so make it smaller. Leave 15px from bottom of screenshot to bottom of tray.
        height: 201px;
    }
    .slider {
        margin-top: 15px;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    ul {
        height: 150px; // 150 + 15
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 15px;
        text-align: center;
        width: 150px; // Max height/width of image.

        &:first-child {
            margin-left: 0;
        }
        // The following creates a square container
        // that is as tall as the li is wide and
        // positions the img vertically and
        // horizontally center.
        .thumbnail {
            display: block;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }
        &.selected img {
            box-shadow: 0 0 12px 2px $sailor-blue;
        }
        img {
            -moz-user-select: none;
            bottom: 0;
            display: block;
            left: 0;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

@media $at-least-desktop {
    .shots {
        position: relative;

        .next, .prev {
            border-radius: 0 30px 30px 0;
            border: 15px solid rgba(#252525,.7);
            height: 60px;
            margin-top: -30px;
            outline: 0;
            position: absolute;
            top: 50%;
            transition(all .2s linear);
            width: 0;
            z-index: 16;

            &:after {
                background: url(../img/icons/slider_arrow.png) no-repeat;
                content: "";
                float: right;
                height: 22px;
                left: 7px;
                position: relative;
                top: 4px;
                width: 15px;
            }
            &:hover {
                border-color: rgba(#252525,.9);
                border-left-width: 22px;
            }
            &:active {
                border-color: rgba(#777,.9);
            }
        }
        .next {
            border-radius: 30px 0 0 30px;
            right: 0;

            &:after {
                transform(scaleX(-1));
            }
            &:hover {
                border-left-width: 15px;
                border-right-width: 22px;
            }
        }
        .prev {
            left: 0;
        }
    }
}

/* Dots. */
$dot-size = 13px;
.preview-tray {
    .dots {
        margin-top: 13px;
        height: $dot-size;
        text-align: center;
        width: 100%;
    }
    .dot {
        background: $salt-flat-white;
        // Don't use shorthand, we do transitions.
        border-color: $cloud-gray;
        border-radius: ($dot-size/2);
        border-style: solid;
        border-width: 3px;
        cursor: pointer;
        display: inline-block;
        height: $dot-size;
        margin: 0 3px;
        transition-duration: 0.15s;
        transition-property: border-color, border-width;
        width: $dot-size;

        &.current,
        &:hover,
        &:active {
            border-color: $sailor-blue;
        }
        &.current {
            background: $sailor-blue;
        }
    }
}
