@import 'lib';

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}

@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

.spinner {
    spinner();

    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

ul {
    list-style: none;
}

.page > section.island:first-child {
    border-radius: 0 5px 5px 5px;
    padding: 10px;
}

section.island {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    padding: 5px 0;
}

@media $at-least-desktop {
    html {
        background: #fff;
    }
    main,
    .site-header > nav {
        margin: 0 auto;
        width: 1150px;
    }
    .site-header > nav {
        padding: 0 15px;
    }
    .container {
        &.product-details,
        &.results {
            margin: 50px 0;
        }
        &.prose,
        &.form-grid {
            padding: 25px;
        }
    }
    [data-page-type~=home],
    [data-page-type~=listing],
    [data-page-type~=login] {
        aside.feed-previews {
            display: none;
        }
    }
    aside.feed-previews {
        -moz-transition: -moz-transform .5s;
        -webkit-transition: -webkit-transform .5s;
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        background: $medium-gray;
        height: 100%;
        overflow: hidden;
        padding-top: 14px;
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        z-index: 20;

        &.active {
            -moz-transform: translateX(277px);
            -webkit-transform: translateX(277px);
        }
        &:hover {
            cursor: pointer;
        }
        .preview-header {
            color: #fff;
            line-height: 25px;
            margin-bottom: 10px;
            padding-left: 9px;
        }
        > .feed-landing {
            display: none;

            .screen {
                padding: 0;

                .mkt-tile {
                    // TODO: Addresses clearing issue incorrectly.
                    height: 94px;
                }
            }
        }
    }
} // End of Desktop.


@media $static-preview {
    body {
        min-height: 100%;
    }

    main {
        margin: 0 auto;
        max-width: $desktop-content;

        [data-page-type="create detail"] & #page,
        [data-page-type="edit detail"] & #page,
        [data-page-type="publish"] & #page {
            float: left;
            width: 772px;  /* 772 - 15 - 363 */
        }
        [data-page-type="create detail"] & aside.feed-previews,
        [data-page-type="edit detail"] & aside.feed-previews,
        [data-page-type="publish"] & aside.feed-previews {
            float: right;
            position: static;
            transform: none;
            width: 363px;
        }
    }

    aside.feed-previews {
        background: 0;
        padding-top: 0;

        .phone {
            background: $black;
            border-radius: 50px 50px 0 0;
            margin-bottom: 20px;
            padding: 50px 0 20px;
            position: relative;

            > h3 {
                background: $blue-action-primary;
                bottom: 0;
                color: $white;
                font-size: 12px;
                font-weight: bold;
                height: 30px;
                left: 0;
                padding: 7px 21px 0;
                position: absolute;
                text-transform: uppercase;
                width: 100%;
            }
        }

        .screen {
            background: $light-gray-grayscale-primary;
            margin: 0 auto;
            padding: 10px;
            width: 320px;
        }
    }

}


.form-errors ul {
    color: $red;
    padding: 10px 0;
}

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute !important;
    opacity: 0.5;
    z-index: 2000;
}

.no-results {
    font-size: 18px;
    opacity: .5;
}

[data-page-type~=login] {
    p {
        margin-bottom : 18px;
    }
}

.button.persona {
    padding-top: 0;
}

.feed .additional-info {
    display: none;
}
