@import 'lib';

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}

@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

$fixed-preview-possible = unquote('(min-width: 1360px)');

.spinner {
    spinner();

    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

ul {
    list-style: none;
}

.page > section.island:first-child {
    border-radius: 0 5px 5px 5px;
    padding: 10px;
}

section.island {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    padding: 5px 0;
}

@media $at-least-desktop {
    html {
        background: #fff;
    }
    main,
    .site-header > nav {
        margin: 0 auto;
        width: 940px;
    }
    .container {
        &.product-details,
        &.results {
            margin: 50px 0;
        }
        &.prose,
        &.form-grid {
            padding: 25px;
        }
    }
    #footer {
        background: #fff;
        border-top: 1px solid $cloud-gray;
        margin: 1px 0 0;
        max-width: inherit;
        padding: 48px 0;
        width: 100%;
    }
    [data-page-type~=home],
    [data-page-type~=listing],
    [data-page-type~=builder],
    [data-page-type~=login] {
        aside.feed-previews {
            display: none;
        }
    }
    aside.feed-previews {
        background: $medium-gray;
        border-radius: 5px;
        left: 50%;
        margin: 21px 0 0 150px;
        padding-top: 14px;
        position: relative;
        top: -220px;
        width: 320px;

        .preview-header {
            color: #fff;
            margin-bottom: 10px;
            padding-left: 10px;
        }
    }
    section.submit {
        width: unquote('calc(100% - 340px)');
    }
} // End of Desktop.

.form-errors ul {
    color: $red;
    padding: 10px 0;
}

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute !important;
    opacity: 0.5;
    z-index: 2000;
}

.no-results {
    font-size: 18px;
    opacity: .5;
}

[data-page-type~=login] {
    p {
        margin-bottom : 18px;
    }
    #site-nav {
        display: none;
    }
}

.button.persona {
    padding-top: 0;
}

@media $fixed-preview-possible {
    main,
    .site-header > nav {
        margin: 0 0 0 50px;
    }
    aside.feed-previews {
        background: $medium-gray;
        border-radius: 0;
        height: 100%;
        left: inherit;
        margin-top: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 20;

        .preview-header {
            color: #fff;
        }
    }
    section.submit {
        width: 100%;
    }
}
