<form class="transonic-form apps">

  <section class="island">
    {% include "locale_switcher.html" %}

    <h3>{{ title }}</h3>
    {% include "fields/slug.html" %}
  </section>

  <section class="island select-app">
    <h3>{{ _('Add App to Feature') }}</h3>
    {% include "app_selector.html" %}
    {% include "fields/featured_app.html" %}
  </section>

  <section class="island customize">
    <h3>{{ _('Customize') }}</h3>
    {% include "fields/colors.html" %}
    {% include "fields/featured_type.html" %}
    {% include "fields/background_images_w_desc.html" %}
    {% include "fields/description_screenshot.html" %}
    {% include "fields/quote.html" %}
  </section>

  <section class="island submit">
    <h3>{{ _('Submit Custom Featured App') }}</h3>
    <button type="submit">{{ _('Submit') }}</button>
  </section>

</form>
