<form class="transonic-form apps" data-type="apps">

  <section class="island">
    {% include "locale_switcher.html" %}

    <h3>{{ title }}</h3>

    {% include "app_selector.html" %}
    {% include "apps_widget.html" %}
    {% include "fields/slug.html" %}
  </section>

  {% macro featured_type(name, type, val, checked) %}
    <input id="featured-type-{{ type }}" type="radio"
           name="featured-type" value="{{ val }}"
           data-type="{{ type }}"
           {% if checked %} checked{%endif%} />
    <label for="featured-type-{{ type }}">{{ name }}</label>
  {% endmacro %}

  <fieldset class="featured-type-choices tabs">
    {{ featured_type(_('Icon'), 'icon', settings.FEEDAPP_TYPE_ICON, true) }}
    {{ featured_type(_('Header Graphic'), 'background-image', settings.FEEDAPP_TYPE_IMAGE) }}
    {{ featured_type(_('Description'), 'description', settings.FEEDAPP_TYPE_DESC) }}
    {{ featured_type(_('Quote'), 'quote', settings.FEEDAPP_TYPE_QUOTE) }}
    {{ featured_type(_('Screenshot'), 'screenshot', settings.FEEDAPP_TYPE_PREVIEW) }}
  </fieldset>

  <section class="island customize">
    <h3>{{ _('Customize') }}</h3>

    <div class="featured-details icon background-image quote screenshot">
      {% include "fields/colors.html" %}
    </div>

    <div class="featured-details background-image hidden">
      {% include "fields/background_images.html" %}
    </div>

    <div class="featured-details description quote screenshot hidden">
      {% include "fields/description.html" %}
    </div>

    <div class="featured-details quote hidden">
      {% include "fields/quote.html" %}
    </div>

    <div class="featured-details screenshot hidden">
      {% include "fields/screenshot.html" %}
    </div>
  </section>

  <section class="island submit">
    <h3>{{ _('Submit Custom Featured App') }}</h3>
    <button type="submit">{{ _('Submit') }}</button>
  </section>

</form>
