<form class="transonic-form">

  <section class="island">
    <h3>{{ title }}</h3>
    {% include "fields/slug.html" %}
  </section>

  <section class="island select-app">
    <h3>{{ _('Add App to Feature') }}</h3>
  </section>

  <section class="island customize">
    <h3>{{ _('Customize') }}</h3>
    {% include "fields/colors.html" %}
    {% include "fields/promote_type.html" %}
    {% include "fields/background_image.html" %}
    {% include "fields/description.html" %}
    {% include "fields/quote.html" %}
  </section>

  <section class="island submit">
    <h3>{{ _('Submit Custom Featured App') }}</h3>
    <button type="submit">{{ _('Submit') }}</button>
  </section>

</form>