<form class="transonic-form brands create" data-type="brands">
  <section class="island">
    <h3>{{ title }}</h3>
    {% include "fields/brand_type.html" %}
    {% include "fields/slug.html" %}
    {% include "fields/brand_layout.html" %}

    <h2>{{ _('Apps') }}</h2>
    {% include "app_selector.html" %}
    {% include "apps_widget.html" %}
  </section>

  <section class="island submit">
    <h3>{{ _('Submit Editorial Brand') }}</h3>
    <div class="form-errors"></div>
    <button class="submit">{{ _('Submit') }}</button>
  </section>
</form>
