{# This template is used for both creating and editing an editorial brand. #}

<form class="transonic-form brands {{ 'edit' if obj else 'create' }}" data-type="brands"
      {% if obj %}data-slug="{{ obj.slug }}"{% endif %}>
  <section class="island">
    <h3>{{ title }}</h3>
    {% include "fields/brand_type.html" %}
    {% include "fields/slug.html" %}
    {% include "fields/brand_layout.html" %}

  </section>

  <section class="island apps apps-multiple">
    {% include "apps_widget_multiple.html" %}
  </section>

  {% include "fields/submit.html" %}
  {{ submit_footer(_('Editorial Brand'), obj) }}
</form>
