<form class="transonic-form collections">

  <section class="island">
    <h3>{{ title }}</h3>
    {% include "fields/title.html" %}
    {% include "fields/slug.html" %}
    {% include "fields/description.html" %}
  </section>

  <section class="island customize">
    <h3>{{ _('Customize') }}</h3>
    {% include "fields/colors.html" %}
    {% include "fields/collection_type.html" %}
  </section>

  <section class="island select-app">
    <h3>{{ _('Add Apps to Collection') }}</h3>
  </section>

  <section class="island submit">
    <h3>{{ _('Submit Custom Featured App') }}</h3>
    <button type="submit">{{ _('Submit') }}</button>
  </section>

</form>
