{# This template is used for both creating and editing a featured app. #}
{# Short abbreviations. #}
{% set C_PROMO = settings.COLL_PROMO %}
{% set C_LISTING = settings.COLL_LISTING %}
{% set C_OPERATOR = settings.COLL_OPERATOR %}
{% set coll_type = obj.type if obj else C_PROMO %}

<form class="transonic-form collections create" data-type="collections"
      data-collection-type="{{ coll_type }}">
  <section class="island c">
    {% include "locale_switcher.html" %}

    <h3>{{ title }}</h3>
    <div class="float-wrap c">
      {% include "fields/title.html" %}
      {% include "fields/slug.html" %}
    </div>
    {% include "fields/description.html" %}
  </section>

  {% macro collection_type(name, type, obj_type) %}
    <input id="collection-type-{{ type }}" type="radio"
           name="collection-type" value="{{ type }}"
           {% if obj_type == type %} checked{%endif%} />
    <label for="collection-type-{{ type }}">{{ name }}</label>
  {% endmacro %}

  <fieldset class="collection-type-choices tabs">
    {{ collection_type(_('Promo'), C_PROMO, coll_type) }}
    {{ collection_type(_('Listing'), C_LISTING, coll_type) }}
    {{ collection_type(_('Operator Shelf'), C_OPERATOR, coll_type) }}
  </fieldset>

  <section class="island customize">
    <h3>{{ _('Customize') }}</h3>

    <div class="collection-type promo operator
                {{ 'hidden' if indexOf([C_PROMO, C_OPERATOR], coll_type) == -1 }}">
      {% include "fields/colors.html" %}
    </div>

    <div class="collection-type bg promo operator
                {{ 'hidden' if indexOf([C_PROMO, C_OPERATOR], coll_type) == -1 }}">
      {% include "fields/background_images.html" %}
    </div>

    <div class="collection-type apps promo listing operator
                {{ 'hidden' if indexOf([C_PROMO, C_LISTING, C_OPERATOR], coll_type) == -1 }}">
      <h2>{{ _('Apps') }}</h2>
      {% include "app_selector.html" %}
      {% include "apps_widget.html" %}
    </div>
  </section>

  {% include "fields/submit.html" %}
  {{ submit_footer(_('Collection'), obj) }}
</form>
