<form class="transonic-form editorial">

  <section class="island">
    <h3>{{ title }}</h3>
    {% include "fields/editorial_title.html" %}
    {% include "fields/slug.html" %}
    {% include "fields/editorial_type.html" %}

    <h2>{{ _('Apps') }}</h2>
    {% include "app_selector.html" %}
    {% include "apps_widget.html" %}
  </section>

  <section class="island submit">
    <h3>{{ _('Submit Editorial Brand') }}</h3>
    <button type="submit">{{ _('Submit') }}</button>
  </section>

</form>
