{# This template is used for both creating and editing an operator shelf . #}

<form class="transonic-form shelves {{ 'edit' if obj else 'create' }}" data-type="shelves"
      {% if obj %}data-slug="{{ obj.slug }}"{% endif %}>
  <section class="island c">
    {% include "locale_switcher.html" %}

    <h3>{{ title }}</h3>
    <div class="float-wrap c">
      {% include "fields/title.html" %}
      {% include "fields/slug.html" %}
    </div>
    {% include "fields/description.html" %}
  </section>

  <section class="island customize">
    <h3>{{ _('Customize') }}</h3>
    {% include "fields/carrier.html" %}
    {% include "fields/region.html" %}
    {% include "fields/colors.html" %}
    {% include "fields/background_images.html" %}
  </section>

  <section class="island apps apps-multiple">
    {% include "apps_widget/apps_widget_multiple.html" %}
  </section>

  {% include "fields/submit.html" %}

  {% if obj %}
    {% set is_published = obj.is_published %}
    <section class="island publish">
      <h3>{{ pubstrings.title_unpub if is_published else pubstrings.title_pub }}</h3>
      <p class="publish-help help-text no-italic">
        {% if is_published %}
          {{ _('Note: This will unpublish the operator shelf.') }}
        {% else %}
          {{ _('Note: This will publish the operator shelf.') }}
        {% endif %}
      </p>
      <p class="publish-help help-text">{{ obj.carrier }} &mdash; {{ settings.REGION_CHOICES_SLUG[obj.region] }}</p>
      <div class="form-errors"></div>
      {% if is_published %}
        <button class="button publish" data-is-published="true">{{ pubstrings.btn_unpub }}</button>
      {% else %}
        <button class="button publish">{{ pubstrings.btn_pub }}</button>
      {% endif %}
    </section>
  {% endif %}

  {{ submit_footer(_('Operator Shelf'), obj) }}
</form>
